<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic" rel="stylesheet">
        link(rel="stylesheet", href="css/style.css")
        block title
            title index
    body
        header.header
            .header__wrapper.container
                button(type="button").header__mobile.header__mobile--close
                a(href="index.html").header__logo.logo
                    
                nav.header__main-nav
                    ul.site-list
                        +navList(navItems)
                .header__user-wrapper
                    a(href="tel:+380977736663").header__basket-link.basket-link
                        svg(width="27",height="34").basket-link__svg
                            use(xlink:href="imgs/sprite.svg#icon-phone")
                        | +3 8097 773 66 63
                p.header__delivery
                    | Рекомендуем позвонить мастеру 
                ul.header__more-list
                    li.header__more-list-item
                        a(href="#").header__more-list-link
                            | Статьи про Обслуживание