extends .././layouts/main-layout.pug
block title
    title
        | catalog
block content
    main
        section.catalog-title
            div.catalog-title__wrapper.container
                h2.catalog-title__main-title
                    | Каталог товаров
        section.catalog-items
            div.catalog-items__wrapper.container
                h2.catalog-items__title.vis-hid
                    | Блок с товарами
                ul.catalog-items__list
                    li.catalogs-items__list-item
                        a(href="#").catalog-items__img-link
                            .catalogs-items__images-wrapper
                                img(src="imgs/knob.jpg").catalogs-items__picture-img
                        .catalog-items__txt-wrapper        
                            a(href="#").catalog-items__title-link
                                h3.catalog-items__items-title
                                    | Установка ручки с замком
                            p.catalog-items__item-data
                                | не позволяет открывать окно без ключа
                            p.catalog-items__price
                                | 500 грн.
                            a(href="tel:+380977736663").master-call.btn.master-call--catalog
                                svg(fill="#fff").master-call__svg
                                    use(xlink:href="imgs/sprite.svg#icon-phone")
                                | 8097 773 66 63    
                    li.catalogs-items__list-item
                        a(href="#").catalog-items__img-link
                            .catalogs-items__images-wrapper
                                img(src="imgs/knob.jpg").catalogs-items__picture-img
                        .catalog-items__txt-wrapper        
                            a(href="#").catalog-items__title-link
                                h3.catalog-items__items-title
                                    | Установка ручки с замком
                            p.catalog-items__item-data
                                | не позволяет открывать окно без ключа
                            p.catalog-items__price
                                | 500 грн.
                            a(href="tel:+380977736663").master-call.btn.master-call--catalog
                                svg(fill="#fff").master-call__svg
                                    use(xlink:href="imgs/sprite.svg#icon-phone")
                                | 8097 773 66 63    
        section.catalog-video
            .catalog-video__wrapper.container
                .catalog-video__border-wrapper
                    h2.catalog-video__title
                        | Процесс производства
                    .catalog-video__video-wrapper
                        video(src="#"
                            poster="imgs/mobile/video-mobile@1x.jpg").catalog-video__video
                        button(type="button").catalog-video__play-btn
                            svg.catalog-items__cart-svg
                                use(xlink:href="imgs/sprite.svg#icon-play")

                    p.catalog-video__txt
                        | По просьбам наших любимых фолловеров мы сняли для вас
                        | подробное видео о том, как появляются наши товары.
                    a(href="#").catalog-video__btn.btn
                        | Сделать заказ
                