.about-us{
    padding-top: 30px;
    @media screen and  (min-width:$tablet){
        padding-bottom: 75px;
    }
    @media screen and  (min-width:$desktop){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    background: rgba(100,199,184,1);
background: -moz-linear-gradient(left, rgba(100,199,184,1) 0%, rgba(100,199,184,0.99) 12%, rgba(254,254,254,0.92) 95%, rgba(255,255,255,0.92) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(100,199,184,1)), color-stop(12%, rgba(100,199,184,0.99)), color-stop(95%, rgba(254,254,254,0.92)), color-stop(100%, rgba(255,255,255,0.92)));
background: -webkit-linear-gradient(left, rgba(100,199,184,1) 0%, rgba(100,199,184,0.99) 12%, rgba(254,254,254,0.92) 95%, rgba(255,255,255,0.92) 100%);
background: -o-linear-gradient(left, rgba(100,199,184,1) 0%, rgba(100,199,184,0.99) 12%, rgba(254,254,254,0.92) 95%, rgba(255,255,255,0.92) 100%);
background: -ms-linear-gradient(left, rgba(100,199,184,1) 0%, rgba(100,199,184,0.99) 12%, rgba(254,254,254,0.92) 95%, rgba(255,255,255,0.92) 100%);
background: linear-gradient(to right, rgba(100,199,184,1) 0%, rgba(100,199,184,0.99) 12%, rgba(254,254,254,0.92) 95%, rgba(255,255,255,0.92) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c7b8', endColorstr='#ffffff', GradientType=1 );
}
.about-us__title{
    @include title;
    margin-bottom: 30px;
    @media screen and  (min-width:$desktop){
        margin-left: 175px;
    }
}
.about-us__list{
    @include list-reset;
    padding-bottom:50px;
    @media screen and  (min-width:$tablet){
        display: flex;
        flex-wrap: wrap
    }
    @media screen and  (min-width:$desktop){
        box-sizing: border-box;
        padding: 0 175px;
    }
}
.about-us__list-item{
    min-height: 100px;
    margin-bottom: 25px;
    box-sizing: border-box;
    padding-top: 100px;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    font-weight: bold;
    position: relative;
    @media screen and  (min-width:$tablet){
        width: 49.5%;
        font-size: 20px;
        line-height: 22px;
        min-height: 110px;
        margin-bottom: 45px;
    }
}
.about-us__list-item{
    &:before{
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        background-image: url("../imgs/sprite.svg#icon-document");
        background-size: 120px 100px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: $dark-blue;
    }
}
.about-us__list-item:nth-child(2){
    &:before{
        background-image: url("../imgs/sprite.svg#icon-builder");
    }
}
.about-us__list-item:nth-child(3){
    &:before{
        background-image: url("../imgs/sprite.svg#icon-call");
    }
}
.about-us__list-item:nth-child(4){
    &:before{
        background-image: url("../imgs/sprite.svg#icon-warn");
    }
}
