.form__middle{
    background-image:url("../imgs/form-bg2.jpg");
    background-size: cover;
    padding: 10px;
    height: 280px;
}
.form__middle-fieldset{
    border: 3x solid #fff;
    border-radius: 10px;
}
.form__middle-legend{
     font-size: 23px;
     font-weight: bold;
     padding: 0 10px;
     color: #fff;
}
.form-middle__input-text{
    width: 80%;
    margin-bottom: 25px;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px;

    &::placeholder{
        color: #000;
    }
}
.form__middle-btn{
    width: 90%;
    background-color:#444;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid #fff;
    &:hover{
        background-color: #f6cb47;
    }
}