.header{
    position: relative;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    @media screen and  (min-width:$tablet){
        margin-bottom: -85px;
    }
    @media screen and  (min-width:936px){
        margin-bottom: -55px;
    }
    @media screen and  (min-width:$desktop){
        margin-bottom: -50px;
    }
}
.header__logo{
    display: block;
    height: 36px;
    padding: 22px 0;
    width: 100%;
    text-align: center;
    @media screen and  (min-width:$tablet){
        height: 44px;
        width: 120px;
        order: 1;
    }
    @media screen and  (min-width:$desktop){
        width: 145px;
        height: 74px;
        padding: 7px 0;
        padding-left: 0;
    }
    &:hover{
        opacity: 0.7;
    }
    &:active{
        opacity: 0.5;
    }
}
.header__logo-picture{
    img{
        height: 37px;
        width: 88px;
        object-fit: cover;
        @media screen and  (min-width:$tablet){
            height: 44px;
            width: 113px;
            object-fit: cover;
        }
        @media screen and  (min-width:$desktop){
            width: 150px;
            height: 74px;
            object-fit: cover;
        }
    }
}
.header__mobile{
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    background-color: transparent;
    top:30px;
    right: 30px;
    border:none;
    z-index: 2;
    @media screen and  (min-width:$tablet){
        display: none;
    }
}
.header__mobile--close{
    background-image: url("../imgs/sprite.svg#icon-menu-close");
}
.header__mobile--open{
    background-image: url("../imgs/sprite.svg#icon-menu-open");
}
.header__delivery{
    display: none;
    @media screen and  (min-width:$tablet){
        display: none;
        order: 4;
        text-align: right;
        font-weight: 400;
        color: #444;
        font-size: 15px;
        line-height: 24px;
        align-self: flex-start;
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0;
    }
    @media screen and  (min-width:$desktop){
        order: 5;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
.header__more-list{
    display: none;
    @media screen and  (min-width:$tablet){
        order: 4;
        display: flex;
        @include list-reset;
    }
    @media screen and  (min-width:936px){
        position: absolute;
        bottom: -60px;
    }
    @media screen and  (min-width:$desktop){
        width: 375px;
        order: 4;
        display: flex;
        justify-content: space-between;
        @include list-reset;
    }
}
.header__more-list-item{
    text-align: left;
    flex-grow: 1;
    &:nth-child(2n){
        text-align: right;
        @media screen and  (min-width:$desktop){
           text-align: left;
        }
    }
    .header__more-list-link{
        display: inline-block;
        vertical-align: baseline;
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
        margin-top: 10px;
        color: #000;
        text-decoration: none;
        background-color: #f6cb47;
        padding: 6px 10px;
        border-radius: 40px;
        &:hover{
            color: #fff;
            background-color: $dark-blue;
        }
    }
}
.header__wrapper{
    @media screen and  (min-width:$tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
.header__user-wrapper{
    @media screen and  (min-width:$tablet){
        width: 200px;
        order: 3;
        display: flex;
        justify-content: space-between;
        &:after{
            left: 0px;
            right: -50px;
        }
    }
    @media screen and  (min-width:$desktop){
        order: 3;
        flex-grow: 0;
    }
}
.header__main-nav{
    @media screen and  (min-width:$tablet){
        order: 2;
        width: 500px;
    }
    @media screen and  (min-width:$desktop){
        order: 1;
        width: 50%;
    }
}
.header__search{
    @media screen and  (min-width:$tablet){
        width: 80px;
    }
}
.header--fixed{
    position: fixed;
    top:0;
    left: 0;
    background-color: $blue;
    width: 100%;
    z-index: 10;
    background-image: url("../imgs/form-bg2.jpg");
    background-size: cover;
    background-position: 50%;
    animation: opacity 1s ease;
    .header__more-list-item{
        display: none;
    }
    .basket-link__svg{
        fill: #fff;
    }
    .header__basket-link{
        &:hover,
        &:active{
            color: #e5588a;
        }
    }
}
.header--mobile{
    .header__main-nav{
        display: none;
    }
    .header__user-wrapper{
        display: none;
    }
}