.master-call{
    display:block;
    text-decoration: none;
    color: #fff;
    background-color: $dark-blue;
    position: relative;
}
.master-call__svg{
    position: absolute;
    width: 25px;
    height: 25px;;
    top: 10px;
    left: 15px;
    z-index: 2;
}
.master-call--catalog{
    width: 100%;
    max-width: 210px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 10px;
    margin-bottom: 20px;
    @media screen and  (min-width:$tablet){
        max-width: 280px;;
    }
}