.master-call{
    display:block;
    text-decoration: none;
    color: #fff;
    background-color: $dark-blue;
    position: relative;
}
.master-call__svg{
    position: absolute;
    width: 25px;
    height: 25px;;
    top: 10px;
    left: 15px;
    z-index: 2;
}