.search-form__hidden-btn{
    display: none;
}
.search-form{
    @include border;
    position:relative;
    &:after{
        content: "";
        display: block;
        width: 21px;
        height: 19px;
        position: absolute;
        top: 30px;
        left: 0px;
        background-image: url("../imgs/sprite.svg#icon-search");
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-color:transparent;
    }
    @media screen and  (min-width:$tablet){
        @include noneborder;
        border-left: 1px solid #eee;
        &:after{
            content: "";
            display: block;
            width: 21px;
            height: 19px;
            position: absolute;
            top: 36px;
            left: 50%;
            margin-left:-10.5px;
            background-image: url("../imgs/sprite.svg#icon-search");
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-color:transparent;
        }
    }
}
.search-form__input{
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    padding: 27px 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
    border: none;
    text-align: center;
    &::placeholder{
        font-weight: 700;
        color: #000;
    }
    @media screen and  (min-width:$tablet){
        padding: 0;
        width: 80px;
        &::placeholder{
            font-size: 0px;
        }
    }
}